<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="navbar-text">©️ 2022 by <b>Group 6</b>
    <a href="https://github.com/alstonluo/Group-6-WebAndScriptProject"><i class="fa-brands fa-github"></i></a>
  </p>
</nav>