<%- include ('../views/partials/header.ejs') %>
<%- include ('../views/partials/main_nav.ejs') %>
<link rel='stylesheet' href='/Content/index.css' />

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container-1"><br>
    <img src="Content/img/logo.png" alt="logo">
  </div>
  <div class="container-2">
    
    <h5 class="display-7">Connect with Lazy Friends around the globe</h5><br>
    <h6 class="display-10">Click Login to get started or Lazy Friends to see your friend group</h6>
  </div>
</div>
</main>
<%- include ('../views/partials/bottom_nav.ejs') %>
<%- include ('../views/partials/footer.ejs') %>


